@font-face {
  font-family: 'Cinizel-ExtraBold';
  src: local('Cinizel-ExtraBold'), url(./fonts/Cinzel/static/Cinzel-ExtraBold.ttf) format('opentype');
}

@font-face {
  font-family: 'Cinizel-Bold';
  src: local('Cinizel-Bold'), url(./fonts/Cinzel/static/Cinzel-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Cinizel-Regular';
  src: local('Cinizel-Regular'), url(./fonts/Cinzel/static/Cinzel-Regular.ttf) format('opentype');
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}